include ../public/jade-includes/head

body
	.container
		.row-fluid
			.span12
				.name
					| #{title}
		.row-fluid
			.span12
				.links
					| here's one link and another

include ../public/jade-includes/scripts