include ../public/jade-includes/head

body
	#bg.background-container
		.container
			.row-fluid
				.span12
					.textwrapper
						.name
							| #{title}
						.links
							a(href='http://www.linkedin.com/in/peterjliu')
								| linkedin
							= ' | '
							a(href='https://twitter.com/petersyde')
								| twitter
							= ' | '
							a(href='https://www.facebook.com/liu.peter.j')
								| facebook
							= ' | '
							a(href='https://db.tt/rxrEMgbZ')
								| C.V.
							= ' | '
							a(href='mailto:liu.peter.j@gmail.com')
								| email

include ../public/jade-includes/scripts